/* BUTTON */

.asset-button {
    @include border-radius;
    background-image: var(--gradient-default);
    display: block;
    position: relative;
    height: auto;
    width: $helper-space * 10;
    padding: $helper-space / 4;
    border-radius: $helper-space * 2;
    text-decoration: none;

    @include view-mobile {
        width: $helper-space * 6;
    }

    span {
        @include flex-center;
        @include text-uppercase;
        @include transition-all;
        position: relative;
        background: var(--color-light);
        color: var(--color-side);
        height: 100%;
        width: 100%;
        padding: $helper-space * 0.75;
        border-radius: $helper-space * 2;
        font-size: $helper-space;
        @include view-mobile {
            padding: $helper-space * 0.5;
        }
        &:before {
            position: absolute;
            background: url("img/plane.svg") no-repeat;
            content: "";
            left: $helper-space * 0.75;
            width: 40px;
            height: 40px;
            zoom: 0.75;
            @include view-mobile {
                display: none;
            }
        }
    }

    &:hover span {
        background-image: var(--gradient-default);
        color: var(--color-primary);
        &:before {
            background: url("img/plane-invert.svg") no-repeat;
        }
    }
}
