// COMMON

body {
    cursor: url("img/cursor.svg"), auto;
}

#map {
    height: 100%;
    width: 85vw;
}

h1,
h2 {
    @include main-font;
    @include text-uppercase;
    @include text-height;
}

p,
li {
    @include side-font;
    @include text-height;
}

button,
a,
img {
    cursor: url("img/pointer.svg"), pointer;
    &:focus {
        outline: 2px solid $color-violet;
    }
}
