// COMMON

body {
    cursor: url("img/cursor.svg"), auto;
}

h1,
h2 {
    @include main-font;
    @include text-uppercase;
    @include text-height;
    width: 100%;
    text-align: center;
}

p,
li {
    @include side-font;
    @include text-height;
}

li {
    list-style: none;
}

a {
    text-decoration-skip: ink;
}

button,
a,
img {
    cursor: url("img/pointer.svg"), pointer;
    &:focus {
        outline: 2px solid $color-violet;
    }
}

::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-thumb {
    @include border-radius;
    @include box-shadow;
    background: linear-gradient(to bottom, $color-violet, $color-orchid);
}

::-webkit-scrollbar-track {
    background: $color-side;
}
