// HELPERS

.hide-element {
    opacity: 0;
    visibility: hidden;
}

.helpers {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    @include view-mobile {
        @include border-all-gradient;
        background: var(--color-light);
        bottom: 0;
        top: auto;
    }

    .contrast-toggle {
        background: url("img/contrast.svg") no-repeat;
        width: 32px;
        height: 32px;
        border: 0;
        @include view-mobile {
            outline: 0;
        }
    }
}

.dark-mode {
    @include color-invert;
    @include transition-filter;
}

// MAP

#map {
    height: 100%;
    width: 75vw;
    @include view-mobile {
        width: 100vw;
    }
}

.info-window-wrapper {
    @include grid-center;
    @include border-all-gradient;
    background: var(--color-primary);
    color: var(--color-side);

    h1.info-window-title {
        @include text-gradient;
        @include border-bottom-gradient;
        font-size: $helper-space * 2.5;
        margin-top: $helper-space / 8;
        padding: $helper-space / 8;
        @include view-mobile {
            font-size: $helper-space * 2;
        }
    }

    .info-window-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--color-light);
        width: 25vw;
        @include view-mobile {
            width: 100%;
        }
        padding: $helper-space;
        h2 {
            font-size: $helper-space * 1.5;
            @include view-mobile {
                font-size: $helper-space * 1.25;
            }
        }
        p {
            font-size: $helper-space * 1.25;
            text-align: center;
            @include view-mobile {
                font-size: $helper-space;
            }
        }
    }
}

// overwrite inline styles

.gm-style .gm-style-iw-c {
    padding: 0 !important;
    border-radius: 0;
    @include view-mobile {
        min-width: 70vw !important;
    }
}

.gm-style .gm-style-iw-d {
    overflow: auto !important;
}

button.gm-ui-hover-effect {
    background: url("img/close.svg") !important;
    opacity: 1;
    top: $helper-space * 1.1 !important;
    right: $helper-space * 0.6 !important;
    width: $helper-space * 3 !important;
    height: $helper-space * 3 !important;
    cursor: url("img/pointer.svg"), pointer !important;
    @include view-mobile {
        top: $helper-space * 0.7 !important;
        right: $helper-space * 0.6 !important;
    }
    & > img {
        visibility: hidden;
    }
}
