// HELPERS

.hide-element {
    opacity: 0;
    visibility: hidden;
}

// MAP

#map {
    height: 100%;
    width: 80vw;
    @include view-mobile {
        width: 100vw;
    }
}

.info-window-wrapper {
    @include grid-center;
}

.info-window-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

// Google Maps overwrite

button.gm-ui-hover-effect {
    background: url("img/close.svg") !important;
    & > img {
        visibility: hidden;
    }
}
