// NAVIGATION

.asset-wrapper {
    @include grid-center;
    @include box-shadow;
    position: fixed;
    right: 0;
    z-index: 1;
    height: 100vh;
    width: 15vw;
    background: transparent;
}

.asset-menu {
    @include flex-center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    height: 10vh;
}

.asset-toggle {
    position: absolute;
    opacity: 0;
    cursor: url("img/pointer.svg"), pointer;
}

.asset-label {
    display: block;
    position: absolute;
    z-index: 1;
    width: $helper-space * 2.5;
    height: $helper-space * 2.5;
    cursor: url("img/pointer.svg"), pointer;
    &::before {
        content: url("img/plane.svg");
    }
}

.asset-toggle:checked ~ .asset-label:before {
    display: block;
    position: absolute;
    content: url("img/close.svg");
    top: 0;
    left: 0;
    z-index: 2;
    width: $helper-space * 2.5;
    height: $helper-space * 2.5;
}

.asset-sidebar {
    display: flex;
    background: $color-primary;
    height: 90vh;
}

.asset-toggle:checked ~ .asset-sidebar {
    min-height: 90vh;
}

.asset-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0;

    .asset-item {
        display: flex;
        position: relative;
        flex: 1 0 auto;
        align-items: center;
        list-style: none;
    }
}
