// NAVIGATION

.asset-wrapper {
    @include grid-center;
    @include box-shadow;
    position: fixed;
    right: 0;
    z-index: 1;
    height: 100vh;
    width: 20vw;
    background: transparent;
    @include view-mobile {
        width: 100vw;
        height: 30vh;
    }
}

.asset-menu {
    @include flex-center;
    background: $color-light;
    text-align: center;
    margin: 0 auto;
    position: relative;
    height: 10vh;
    z-index: 3;
    width: 100%;
}

.asset-toggle {
    position: absolute;
    opacity: 0;
    cursor: url("img/pointer.svg"), pointer;
}

.asset-label {
    display: block;
    position: absolute;
    z-index: 1;
    width: $helper-space * 2.5;
    height: $helper-space * 2.5;
    cursor: url("img/pointer.svg"), pointer;
    &::before {
        content: url("img/plane.svg");
        @include view-mobile {
            content: url("img/close.svg");
        }
    }
}

.asset-toggle:checked ~ .asset-label:before {
    display: block;
    position: absolute;
    content: url("img/close.svg");
    top: 0;
    left: 0;
    z-index: 2;
    width: $helper-space * 2.5;
    height: $helper-space * 2.5;
    @include view-mobile {
        content: url("img/plane.svg");
    }
}

.asset-sidebar {
    @include transition-all;
    display: flex;
    justify-content: center;
    background: $gradient-default;
    width: 100%;
    height: 90vh;
    z-index: 2;
    @include view-mobile {
        height: 20vh;
        width: 100vw;
    }
}

.asset-summary {
    display: grid;
    place-items: baseline;
    position: inherit;
    width: auto;
    height: 90vh;
    z-index: 1;
    margin-top: 10vh;
    background: $color-primary;
    @include view-mobile {
        height: 20vh;
        width: 100vw;
        opacity: 0;
    }
}

.asset-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $color-primary;
    width: 100%;
    min-width: 20vw;
    height: 80vh;
    @include view-mobile {
        height: 20vh;
    }
    h1 {
        @include text-gradient;
        font-size: $helper-space * 2.5;
        line-height: 1.25;
        @include view-mobile {
            font-size: $helper-space * 2;
        }
    }
    h2 {
        font-size: $helper-space * 1.5;
        @include border-gradient;
        padding-bottom: $helper-space / 4;
        color: $color-side;
        @include view-mobile {
            font-size: $helper-space * 1.5;
        }
    }
    ul {
        text-align: center;
        li {
            margin: $helper-space * 0.75;
            @include view-mobile {
                margin: $helper-space * 0.5;
            }
            a {
                color: $color-side;
            }
        }
    }
}

.asset-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    background: $color-primary;
    margin: $helper-space / 4;
    padding: $helper-space (0);
    @include view-mobile {
        flex-direction: row;
    }

    .asset-item {
        display: flex;
        position: relative;
        flex: 1 0 auto;
        align-items: center;
        @include view-desktop {
            &:not(:last-child) {
                margin-bottom: $helper-space;
            }
        }
        @include view-mobile {
            margin: 0 ($helper-space);
        }
    }
}
