// MIXINS

$helper-space: 1em;

@mixin border-radius {
    border-radius: $helper-space;
}

@mixin grid-center {
    display: grid;
    place-items: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin text-uppercase {
    text-transform: uppercase;
}

@mixin text-height {
    line-height: 1.5;
}

@mixin box-shadow {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

@mixin transition-all {
    transition: all 0.3s linear;
}
